body{
  background-color: black;
}
.vague{
  display: flex;
  justify-content: center;
}

.scroll{
  display: flex;
  justify-content: center;
  height: 10px;
}

.ship{
  background-color: green;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 50px;;
  left:0px;
}
